@media screen and (max-width:500px){
    .container-big-card{
        width: 95vw;
        height: 450px;
        max-width: 400px;
        display: flex;
        justify-content: center;
    }
    .big-card-image > img{
        width: 90vw;
        margin-top: 10px;
        margin-left: 6px;
    }
    .big-card-image{
        margin-top: 10px;
    }
}