<div class="container-big-card">
    <div class="big-card-image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg" alt="">
    </div>
    <div class="big-card-title">
        <a href="#"><h1>Titulo de exemplo</h1></a>
    </div>
    <div class="big-card-details">
            <a href="http://">
                <p>
                    Desafio deste card contando os assuntos principais nele encontrados. Detalhes deste card contando os assuntos principais nele encontrados
                </p>
            </a>
    </div>
</div>
