.container-big-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    height: 600px;
    width: 500px;
    background-color: #000;
}

.big-card-title{
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 20px;
}
.big-card-details p{
    margin: 20px;
    color: grey;
}

.big-card-image > img{
    margin: 20px;
    width: 450px;
}

