.container-small-card{
    margin-left: 20px;
    background-color: #000;
}

.small-card-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    width: 800px;
}

.small-card-image > img{
    width: 200px;
    margin-right: 20px;
}

.small-card-title{
    margin: 0;
    font-size: 10px;
}

.separacao > hr{
    margin-top: 20px;
    border: 1px solid #fff;
}

