<div class="container-small-card">
    <div class="small-card-content">
        <div class="small-card-image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg" alt="">
        </div>
        <div class="small-card-title">
            <a href="http://">
                <h1> 
                    Lorem ipsum Title title title Lorem ipsum Title title title Lorem ipsum Title title title Lorem ipsum
                </h1>
            </a> 
        </div>
    </div>  
    <div class="separacao">
        <hr>
    </div>
</div>
